body {
  background-color: #1ff573;
  text-align: center;
}
body input {
  border: none;
  height: 30px;
  border-radius: 15px;
  background-color: #ffffff;
  color: #1ff573;
}
body button {
  border: none;
  border-radius: 10px;
  background-color: #ffffff;
  color: #1ff573;
}
body a{
  text-decoration: none;
  color: #ffffff;
  transition-duration: 2s;
}
body a:hover{
  color: #ffffff;
}

#BIG {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  font-size: 150px;
  line-height: 105%;
  margin: 0;
  width: 100%;
  padding: 15px 30px;
}
