body {
  background-color: #1ff573;
  text-align: center;
}
body input {
  border: none;
  height: 30px;
  border-radius: 15px;
  background-color: #000000;
  color: #1ff573;
}
body button {
  border: none;
  border-radius: 4px;
  background-color: #000000;
  color: #1ff573;
}
body a{
  text-decoration: none;
  color: black;
  transition-duration: 2s;
}
body a:hover{
  color: white;
}

#BIG0 {
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 105%;
  margin: 0;
}

#BIG1 {
  color: blue;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 105%;
  margin: 0;
  width: 100%;
  padding: 15px 30px;
}

.centered-text {
  text-align: center;
}

.big-text {
  font-size: 100px; /* Możesz dostosować rozmiar liter według własnych preferencji */
  color: #ff6e6e; /* Użyj koloru czerwonego o kodzie #FF0000 */
}

.small-text {
  font-size: 50px; /* Możesz dostosować rozmiar liter według własnych preferencji */
  color: #ff6e6e; /* Użyj koloru czerwonego o kodzie #FF0000 */
}

.login-button {
  background-color: #4CAF50; /* Kolor tła (zielony) */
  color: white; /* Kolor tekstu na przycisku */
  padding: 10px 20px; /* Wielkość wypełnienia (padding) przycisku */
  border: none; /* Brak obramowania */
  border-radius: 10px; /* Zaokrąglone rogi */
  font-size: 50px; /* Rozmiar czcionki */
  cursor: pointer; /* Kursor zmienia się na wskaźnik przy najechaniu */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cień */
  text-decoration: none; /* Usunięcie podkreślenia */
}


